* {
	margin: 0px;
	padding: 0px;
}

#cabecera {
	background: #33BEFF;	
	padding: 20px;
	height: 70px;

}

#img_cabecera {
	width: 187px;
	height: 118px;	    
}

#menu {
	background: #33BEFF;
	padding: 5px 15px;
}

#menu li {
	display: inline-block;
	list-style: none;
	width: 100px;	
	padding: 5px;
	font: bold 14px verdana, sans-serif;
	border: 3px solid #0F97D7;
	border-radius:5px;	 
	background-color: #0F97D7;
	color: #FFFFFF;
	box-shadow: rgb(150,150,150) 3px 3px 5px;

}

#menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;    
    background-color: #33BEFF;    
}
#menu a:active{
	color:#4CAF50
}

#menu li:hover {
    background-color: #A0ABB9;
    color: #1E59A4;
}

#portada {
	opacity: 0.3;
	width: 100%;	    
}

body {
    /*background-color: #33BEFF;*/
    background-color: #FFFFFF;
    font-family: "Verdana";
	text-shadow: 1px 1px 1px #000000;
    /*font-family: 'Lato', Helvetica, sans-serif !important;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
	overflow-x: hidden;
	line-height: 25px;
	*/
}

div.polaroid {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

#pie {
	background-color: #33BEFF;
	/*clear: both;*/
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}

/* ---- particles.js container ---- */

#particles-js{


	background-image: url(portada.png);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	/*opacity: 0.6;*/
	width: 100%;		
}



#particleWrapper {
    position: relative;
    width: 100%; /* puedes cambiar este valor por lo que desea en px */
    height: 100%; /* puedes cambiar este valor por lo que desea en px */
}

#contenido {
  margin: 0;
  padding: 0;
  
  /* Centra el texto tanto vertical como horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* Se asegura de que no hay eventos de puntero, por lo que cuando se pasa el texto el efecto sigue funcionando y no está bloqueado */
  /*pointer-events: none;*/
}

button, input, select {
  font-family : inherit;
  font-size   : 100%;
  border-radius: 5px;
  height: 30px;
}

textarea {
  font-family : inherit;
  font-size   : 100%;
  border-radius: 5px;
}

input[type=submit] {
  font-family : inherit;
  font-size   : 100%;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-family: "Verdana";
  color: #FFFFFF;
  background: #2958D8;
}